.quizContainer {
  width: 100%;

  .startQuizWrapper {
    margin-top: 10px;
  }

  .choiceContainer {
    margin: 2rem 0;
    padding: 1rem;
    border: #ccc 1px solid;

    h3 {
      font-size: 16px;
      text-align: center;
    }
  }

  .startChoice {
    margin: 1rem 0;
    font-size: 16px;
  }

  .startQuizBtnContainer {
    text-align: center;
  }

  .question {
    text-align: center;
    width: 100%;
    max-width: 864px;
    margin: 2rem auto;
    padding: 1rem 0;
    background-color: #fff;
    border-radius: 1rem;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.2));
  }

  .maQuestion {
    width: 100%;
    display: flex;
    align-items: stretch;

    .areacode {
      flex: 1;
      padding: 1rem 2rem 1rem 0;
      width: 100%;
      font-size: 2rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-family: 'Roboto', sans-serif;
    }

    .numberBands {
      flex: 1;
      width: 100%;
      padding: 1rem 0 1rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      font-size: 1.2rem;
      font-family: 'Roboto', sans-serif;
    }
  }

  .answers {
    padding: 0 2rem;
  }

  .answerBtnContainer {
    margin: 1rem 0;
  }

  .answerBtn {
    display: block;
    font-weight: 600;
    text-align: center;
    padding: 0;
    cursor: pointer;
    background-image: none;
    border: 3px solid white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    :disabled {
      cursor: default;
    }
  }

  .correct {
    border: 3px solid green;
  }

  .incorrect {
    border: 3px solid red;
  }

  .answerBtn {
    width: 100%;

    .answerText {
      font-size: 1.2rem;
      margin: 0 0 0.5rem 0;
    }
  }
}

.resultContainer {
  text-align: center;
  margin: 1rem 0;
}

.resultNumber {
  font-size: 16px;
  margin: 1rem 0;
}
