.quizContainer {
  text-align: center;
  width: 100%;
  max-width: 864px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #fff;

  .startQuizContainer {
    margin: 2rem 0;
    padding: 1rem;
    border: #ccc 1px solid;

    .choiceContainer {
      margin: 1rem 0;
      padding: 1rem;
      border: #ddd 1px solid;
    }

    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 16px;
      margin: 0 0 1rem 0;
      text-align: center;
    }
  }

  button {
    display: block;
    margin: 1rem auto;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    background-color: #495f8c;

    &:hover {
      opacity: 0.8;
    }

    &:disabled {
      cursor: default;
      background-color: #ddd;
    }
  }

  .startChoice {
    margin: 1rem 0;
    font-size: 16px;
  }

  .question {
    text-align: center;
    width: 100%;
    max-width: 864px;
    margin: 2rem auto;
    padding: 1rem 0;
    background-color: #fff;
    border-radius: 1rem;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.2));
  }

  .maQuestion {
    width: 100%;
    display: flex;
    align-items: stretch;

    .areacode {
      flex: 1;
      padding: 1rem 2rem 1rem 0;
      width: 100%;
      font-size: 2.5rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-family: 'Roboto', sans-serif;
    }

    .numberBands {
      flex: 1;
      width: 100%;
      padding: 1rem 0 1rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      font-size: 1.2rem;
      font-family: 'Roboto', sans-serif;
    }
  }

  .digit4Question {
    width: 100%;

    .areacode {
      padding: 1rem;
      width: 100%;
      font-size: 2.5rem;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      text-align: center;
    }
  }

  .answers {
    padding: 0 2rem;
  }

  .answerBtnContainer {
    margin: 1rem 0;
  }

  .button {
    display: block;
    font-weight: 600;
    text-align: center;
    padding: 0;
    cursor: pointer;
    background-image: none;
    border: 3px solid white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;

    &:disabled {
      cursor: default;
    }

    .answerText {
      font-size: 1.2rem;
      margin: 0 0 0.5rem 0;
    }
  }

  .correct {
    border: 3px solid green;
  }

  .incorrect {
    border: 3px solid red;
  }
}

.textInputContainer {
  display: flex;
  align-items: center;
}

.searchCityTextContainer {
  flex: 1;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 6px;
  margin: 0 1rem 0 0;

  input {
    width: 16rem;
    padding: 0.5rem;
    line-height: 1.5em;
    background: none;
    border: none;
    outline: none;
    font-family: 'Noto Sans JP', sans-serif;
  }
}

.resultContainer {
  text-align: center;
  margin: 1rem 0;
}

.resultNumber {
  font-size: 16px;
  margin: 1rem 0;
}
